<div class="container" *ngIf="!evento_subido">
    <h1>Crear pago</h1>
    <h2>Imagen</h2>
    <input type="file" id="fileInput" accept="image/*" (change)="onFileSelected($event)"
        class="form-control" />
    <button *ngIf="!fotos_subidas" class="btn btn-primary mt-2" (click)="onButtonClicked()">
        Subir imagen
    </button>
    <div *ngIf="fotos_subidas" class="alert alert-success mt-2" role="alert">
        ¡Foto subida!
    </div>

    <h2>Datos</h2>
     <form (ngSubmit)="onSubmit()">
        <br />
        <div class="mb-3">
            <label for="email" class="form-label">email (haciendo el examen no iba oAuth):</label>
            <input type="text" id="email" [(ngModel)]="pago.email" name="email" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="concepto" class="form-label">Concepto:</label>
            <input type="text" id="concepto" [(ngModel)]="pago.concepto" name="concepto" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="localizacion" class="form-label">Localizacion:</label>
            <input type="text" id="localizacion" [(ngModel)]="pago.localizacion" name="localizacion" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="importe" class="form-label">Importe:</label>
            <input type="text" id="importe" [(ngModel)]="pago.importe" name="importe" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary btn-mt-3">Crear</button>
    </form> 
</div>
<div class="container" *ngIf="evento_subido">
    <h1>EVENTO CREADO</h1>
</div>